{% extends 'track/base.html' %}

{% load static %}

{% block title %} Squirrel Tracker {% endblock %}

{% block main %}
  <div class="album py-5 bg-light">
    <div class="container">
      <p>	    
      <a class="btn btn-sm btn-outline-secondary" href="{% url 'track:create' %}">Add New Squirrel Sighting</a>
      <a class="btn btn-sm btn-outline-secondary" href="{% url 'track:stats' %}">View General Stats</a>
      </p>
      <div class="row">
        {% for sight in sighting %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">
                <div class="squirrel-id">
                  <strong>{{ sight.unique_squirrel_id }}</strong>
		  <strong>{{ sight.date }}</strong>
                </div>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="{% url 'track:update' sight.unique_squirrel_id %}">Edit</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
